* {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  text-align: center;
  margin-top: 3rem;
  background-color: #1b1b1b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%235a575e' fill-opacity='0.51' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

h1,
h2,
h3,
p {
  color: white;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

textarea:focus,
input:focus {
  outline: none;
}

.inputContainer {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.inputContainer input {
  border-radius: 5rem;
  border: 0.2rem solid rgb(27, 27, 27);
  padding: 1.2rem;
  box-shadow: -5px 8px rgb(150, 117, 240);
  font-size: 1.125rem;
  font-weight: 500;
}

.btn {
  width: 100%;
  border-radius: 2rem;
  border: none;
  padding: 0.75rem;
  width: 6rem;
  margin-top: 0.8rem;
  background-color: rgb(150, 117, 240);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.btn:hover {
  background-color: black;
  color: white;
}

.message {
  text-align: center;
}

.link {
  color: rgb(150, 117, 240);
  cursor: pointer;
  border-bottom: 1px solid rgb(150, 117, 240);
}

.link:hover {
  color: rgb(166, 142, 233);
  border-bottom: 1px solid rgb(166, 142, 233);
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

footer p {
  color: #868686;
}
